.vscode
build
sports_analyzer
/data
/obj

/serial/output_serial.txt
/serial/football_report.txt
/serial/tennis_report.txt
/serial/p

output_parallel.txt
performance_log.txt
tennis_report.txt
football_report.txt

/src2.0

sports_analyzer.rar